<form #ownerForm="ngForm" (ngSubmit)="submit()" class="container">
    <div class="form-group">
        <label for="firstName">Nombre</label>
        <input type="text" class="form-control" required [(ngModel)]="owner.firstName" name="firstName"
            #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
            El nombre es requerido
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Apellidos</label>
        <input type="text" class="form-control" required [(ngModel)]="owner.lastName" name="lastName"
            #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
            El apellido es requerido
        </div>
    </div>

    <div class="form-group">
        <label for="address">Direccion</label>
        <input type="text" class="form-control" required [(ngModel)]="owner.address" name="address" #address="ngModel">
        <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
            La direccion es requerida
        </div>
    </div>

    <div class="form-group">
        <label for="city">Ciudad</label>
        <input type="text" class="form-control" required [(ngModel)]="owner.city" name="city" #city="ngModel">
        <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
            La ciudad es requerida
        </div>
    </div>

    <div class="form-group">
        <label for="telephone">Telefono</label>
        <input type="text" class="form-control" [(ngModel)]="owner.telephone" name="telephone">
    </div>


    <button type="submit" [disabled]="!ownerForm.valid" class="btn btn-primary">Submit</button>


</form>